* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: gainsboro;
}

.app {
  display: block;
  border: 3px solid black;
  border-radius: 20px;
  background-color: beige;
  height: 60vh;
  width: 70vw;
  margin: 5vh auto;
  overflow: hidden;
}

header {
  background-color: bisque;
  text-align: center;
}

.workspace {
  background-color: burlywood;
  text-align: center;
}

.currencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}

.convert__from,
.convert__to {
  text-align: left;
}

.currency-label {
  font-size: small;
}

.currency__block {
  display: block;
}

.convert__from {
  display: block;
}

.currency-field {
  width: 100%;
  box-sizing: border-box;
  height: 3vh;
  border-radius: 5px;
}

.swap__button {
  display: block;
  width: 4vw;
  height: 4vh;
  font-size: large;
  border-radius: 8px;
}

.button-number,
.button-delete {
  width: 10vw;
  height: 5vh;
  margin: 0.1%;
  border-radius: 10px;
  font-size: large;
}

.button-delete {
  color: royalblue;
}

.button-number:hover,
.button-delete:hover,
.swap__button:hover {
  background-color: #F2DEDC;
}

.cat,
.cat-body {
  position: absolute;
  bottom: 0;
  right: 0;
}

#cat-body {
  height: 70px;
}