* {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: bisque;
  text-align: center;
}

.container {
  background-color: burlywood;
  text-align: center;
  width: 80vw;
  height: 60vh;
}

.theCat,
.catBody {
  position: absolute;
  bottom: 0;
  right: 0;
}

#catBody {
  height: 70px;
}