* {
  padding: 0px;
  margin: 0px;
}

header {}

/* .container {
  background-color: bisque;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
} */

h1 {
  text-align: center;
}


.theCat {
  position: absolute;
  bottom: 0;
  right: 0;
}

.catBody {
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0px;
}